<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <connectionStrings>
    <add name="AdventureWorksString" connectionString="provider=MSOLAP; data source=http://demos.devexpress.com/Services/OLAP/msmdpump.dll; initial catalog=Adventure Works DW Standard Edition; cube name=Adventure Works;" />
  </connectionStrings>
</configuration>
